*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.head{
    padding-top: 20px;
    position: relative;
    height: 100px;
    overflow: auto;
}

.return img{
    float: left;
    height: 10px;
    width: 10px;
}
.title img{
    height: 10px;
    width: 10px;
}
.input{
    height: 140px;
}
.email{
    margin: 10px;
}
.password{
    margin:auto;
}
input[type="text"]{
    background-color: #cccaca;
    height: 50px;
    width: 200px;
}
input[type="button"]{
    background-color: #ee5252;
    height: 40px;
    width: 200px;
}
.reset{
    padding-top: 10px;
    font-size: 12px;
}