*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.head{
    padding-top: 20px;
    position: relative;
    height: 100px;
    overflow: auto;/*滑动自适应*/
}

.return{
    float: left;
}
.input{
    height: 150px;
}
.email{
    margin: 10px;
}
input[type="text"]{
    height: 50px;
    width: 200px;
}
input[type="button"]{
    /* padding-top: 10px; */
    height: 40px;
    width: 200px;
}