/*gree.css*/
.logo{height: 30px;width: 150px;}
ul{list-style: none;text-align: center;font-size: 18px;}
div{float: left;}
a{text-decoration: none;text-align: center;}
.top{height:60px;width: 1500px;background-color: white;position: fixed;}
.topli{display: inline;float: left;margin-left: 20px;margin-right: 20px;}
.biaoti{font-size: 48px;text-align: center;}
.biaoti2{font-size: 32px;text-align: center;}
.biaoti3{font-size: 18px;text-align: center;}
.rexiao{height: 250px;width: 1500px;}
.d1,d2{height: 500px;width: 900px;}
.img1{margin-left: 400px;margin-top: 100px;}
.img2{margin-left: 50px;margin-top: 100px;}
.middle{height: 100px;width: 1500px;margin-left: 150px;}
.middle2{display: inline;float: left;margin-left: 50px;margin-right: 50px;}
.middle3{margin-left: 150px;}
.middle4{margin-left: 160px;}
.zi{height: 100px;width: 1500px;}
.last{background-color:rgba(231, 231, 231, 0.789);height: 380px;width: 1500px;}
.zhenwen{font-size: 12px;line-height: 25px;width: 90px;}
.lastcenter{margin-left: 160px;}
.ulleft{text-align: left;}
.lastli{font-size: 12px;display: inline;float: left;margin-left: 10px;margin-right: 10px;}
.one{display: inline-block;position: relative;}
.two{display: none;position: absolute;bottom: 40px;}
.one:hover .two{display: block;}
.father{display: inline-block;position: relative;}
.son{display: none; position: absolute;margin-top: 50px;}
.father:hover .son{display: block;}
.heng{display: inline;}