*{
    margin: 0;
    padding: 0;
}
.music__head .bg{
    height: 303px;
    background-image: url(https://www.auspoll.com.cn/uploads/allimg/190920/1-1Z920144433b8.jpg);
    background-size: cover;
    filter: blur(5px);
}
.music__head-title{
    position: absolute;
}