.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 60px;
        height: 60px;
        background: url('@/assets/logo.jpg') no-repeat center center;
        background-size: cover;
    }
    .user-info{
        color: #fff;
        .user-name{
            margin-right: 20px;
        }
        .user-logout{
            cursor: pointer;
        }
    }
}

.body{
    height: calc(100vh - 64px);
}