<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
    </div>
    <template id="my-app">
        <h2>歌曲列表</h2>
        <ul>
            <!-- <li>夜曲</li> -->
            <!-- <li v-for="item in songs">{{item}}</li>不等于for in -->
            <br>
            <!-- <li v-for="(item,index) in songs">{{index + 1}} -- {{item}}</li>第一是项，第二个是下标，叫啥名都行 -->
            <br>
            <!-- <li v-for="(item,index) in songs" v-show="item.flag">{{index + 1}} -- {{item.name}}  v-for和v-if不能放在一起使用 性能问题
                <a href="#" @click="del">x</a>
            </li> -->
            <li v-for="(item,index) in songs">{{index + 1}} -- {{item}}
                <!-- <a href="#" @click="del(i)">x</a>传入一个下标i -->
            </li>
            
        </ul>
    </template>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App={
            template:'#my-app',
            data(){
                return {
                    // songs:[
                    //     '夜曲',
                    //     '七里香',
                    //     '说好不哭',
                    //     '给我一首歌的时间',
                    //     '晴天',
                    // ]
                    songs:[
                        {name:'夜曲',flag:true},
                        {name:'七里香',flag:true},
                        {name:'说好不哭',flag:true},
                        {name:'给我一首歌的时间',flag:true},
                        {name:'晴天',flag:true},
                    ]
                }
            },
            methods: {
                del(i){
                    this.songs.splice(i,1)
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>