.home {
    /* overflow: hidden; */
}
.home .user {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.home img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
}
.home .login-info p{
    line-height: 28px;
    font-size: 14px;
    color: #999999;
}
.home .login-info p span{
    color: #666666;
    margin-left: 60px;
}
.home .num {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home .num .el-card {
    width: 32%;
    margin-bottom: 20px;
}
.home .num .icon {
    font-size: 30px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
}
.home .num .detail {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .num .detail .num {
    font-size: 30px;
    margin-bottom: 10px;
}
.home .num .detail .txt {
    font-size: 14px;
    text-align: center;
    color: #999999;
}
.home .graph {
    margin-top: 20px;
    display: flex;
}
.home .graph .el-card {
    width: 48%;
}
.home .userinfo .name {
    font-size: 32px;
    margin-bottom: 10px;
}
.home .anticon {
    font-size: 30px;
}
.home .icon-box {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 85px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.home .num .ant-card {
    width: 33%;
}
.home .num .ant-card-body {
    padding: 10px 25px;
    display: flex;
}