<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div id="app"></div>
    <template id="my-app">
        <!-- 切换隐藏 -->
        <h2 v-if="isShow">hello world</h2><!-- h2标签直接消失，display:none而不会 -->
        <h2 v-else>你好 世界</h2><!--实现有你没我没我有你 兄弟元素，同一级 -->
        
        <h2 v-if="count===0">hello world</h2><!-- h2标签直接消失，display:none而不会 -->
        <h2 v-else-if="count===2">空你几瓦</h2>
        <h2 v-else="count===3">你好 世界</h2>
        <button @click="changeCount">切换</button>
    </template>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App = {
            template:'#my-app',
            data(){
                return {
                    isShow:false,
                    count:0
                }
            },
            methods:{
                change(){
                    this.isShow = !this.isShow;
                },
                changeCount(){

                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>
