.page{
    /* 手机滚动阅读的常见操作 */
    /* 占满整个页面写法 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 超出则滚动 */
    overflow-y: auto;
    /* 让滚动如丝般顺滑 */
    /* 移动端浏览器前缀都是-webkit
    overflow-scrolling 在实验阶段 */
    -webkit-overflow-scrolling: touch;
     box-sizing: border-box;/*IE盒模型 */
    z-index: 1;
}
body{
    /* 为什么要设置css变量 */
    --weui-86-0:#111
}
.page,body{
    /* weui技术激进 */
    background-color: var(--weui-86-0);
}