.page{
    /* 手机滚动阅读的常见操作 */
    /* 占满整个页面写法 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 超出则滚动 */
    overflow-y: auto;
    /* 让滚动如丝般顺滑 */
    /* 移动端浏览器前缀都是-webkit
    overflow-scrolling 在实验阶段 */
    -webkit-overflow-scrolling: touch;
     box-sizing: border-box;/*IE盒模型 */
    z-index: 1;
}
body{
    /* 为什么要设置css变量  统一更改  管理  利用  css4  变量 */
    --weui-BG-0:#111
    --weui-FG-1:rgba(255,255,255,0.0)
    color:rgba(255,255,255,0.8)
}
.page,body{
    /* weui技术激进 */
    background-color: var(--weui-BG-0);
}
.page__hd{
    padding: 40px;
}
.page__title{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.page__desc{
    margin-top: 4px;
    color:var(--weui-FG-1);
    text-align: left;
    font-size: 14px
}