<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>记事本</title>
</head>

<body>

  <!-- 主体区域 -->
  <section id="app">
    <!-- 输入框 -->
    <header class="header">
      <h1>小黑记事本</h1>
      <!-- 输入框双向绑定数据源 -->
      <input v-model="todoName" placeholder="请输入任务" class="new-todo" />
      <button @click="add" class="add">添加任务</button>
    </header>
    <!-- 列表区域 -->
    <section class="main">
      <ul class="todo-list">
        <li class="todo" v-for="(item,index) in list" :key="item.id">
          <div class="view">
            <span class="index">{{index+1}}</span> <label>{{item.name}}</label>
            <button @click="del(item.id)" class="destroy"></button>
          </div>
        </li>
      </ul>
    </section>
    <!-- 统计和清空 -->
    <footer class="footer" v-show="list.length">
      <!-- 统计 -->
      <span class="todo-count">合 计:<strong> {{list.length}} </strong></span>
      <!-- 清空 -->
      <button class="clear-completed" @click="clear">
        清空任务
      </button>
    </footer>
  </section>

  <!-- 底部 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    const app = new Vue({
      el: '#app',
      data: {
        todoName:'',
        list: [
          { id: 1, name: 'vue项目一个' },
          { id: 2, name: 'leetcode十道' },
          { id: 3, name: '背一篇面经' },
        ]
      },
      methods: {
        del(id) {
          // this.list.splice(id,1)
          // console.log(id);//点哪里就得到哪里的id
          this.list = this.list.filter(item => item.id !== id)//filter保存不等于当前点击的id的项
        },
        add(){
          if(this.todoName ==''){
            alert('请输入任务名称')
          }else{
            this.list.unshift({
              // id:this.list.length,
              id:+new Date(),//保证唯一
              name:this.todoName
            })
            this.todoName = ''
          }
        },
        clear(){
          this.list = []
        }
      },
    })

  </script>
</body>

</html>