.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(16, 16, 20);
}

.chat-container {
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.user-avatar {
    background-image: url(@/assets/images/avatar.jpg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
}

.ai-avatar {
    background-image: url(@/assets/images/bot.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
}

.chat-message {
    max-width: 500px;
    margin: 0 0 10px 8px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.user-message {
    background-color: rgb(161, 220, 149);
    color: #000;
}

.ai-message {
    background-color: rgb(30, 30, 32);
    color: rgb(235, 235, 235);
}

.userOption {
    padding: 20px 0 20px 0;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 45px;
    border-radius: 30px;
    padding: 0 15px;
    margin: 0 10px;
    background-color: #f4f4f4;
    color: #000;
}
