*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;/*将容器申明成IE模型*/
}
html{
    height: 100%;
}
body{
    height: 100%;
    font: 100%/1.25 Helvetica,arial,仿宋;
    perspective: 1000px;
    background-color: pink;
    background-image: linear-gradient(to bottom,rgb(247, 242, 154),#f79090);
}
.p3d{
    transform-style: preserve-3d;
}
.book{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    color:#fff;
    -webkit-transform: rotateX(60deg);
    /* -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg); */
    user-select: none;
}
.front-cover{
    cursor: move;
    transform-origin: 0 50%;
    transform: rotateY(0deg);
}
.page{
    width: 300px;
    height: 300px;
    padding: 1em;
    position: absolute;
    left: 0;
    right: 0;
    text-indent: 2em;
}
.inside{
    background-color: #f79090;
}
.outside{
    background-color: #fff;
}
.front-cover .outside{
    background-image: url(https://tse4-mm.cn.bing.net/th/id/OIP-C.oWr0-UcLkYBGedCwTIN2LAHaHa?w=192&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(3px);
}
.flip{
    transform: rotateY(180deg);
}
.back-cover .outside{
    transform: rotateZ(-3px);
}
.back-cover .inside{
    background-color: #f79090;
}

.shadow,
.card{
    background-color: rgba(0,0,0,0.5);
    width: 196px;
    height: 132px;
    position: absolute;
    left: 60px;
    top: 60px;
    transform-origin: 0 100%;
}
.shadow{
    background-color: rgba(0,0,0,0.5);
}
.card{
    background-image: url(https://tse3-mm.cn.bing.net/th/id/OIP-C.zuHVOAp1LoRzzkHAUE9gbwHaE8?w=295&h=196&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
}