*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;/*将容器申明成IE模型*/
}
html{
    height: 100%;
}
body{
    height: 100%;
    font: 100%/1.25 Helvetica,arial,仿宋;
    perspective: 1000px;
    background-color: pink;
    background-image: linear-gradient(to bottom,rgb(247, 242, 154),#f79090);
}
.p3d{
    transform-style: preserve-3d;
}
.book{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    color:#fff;
    -webkit-transform: rotateX(60deg);
    /* -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg); */
    user-select: none;
}
.front-cover{
    cursor: move;
    transform-origin: 0 50%;
    transform: rotateY(0deg);
}
.page{
    width: 300px;
    height: 300px;
    padding: 1em;
    position: absolute;
    left: 0;
    right: 0;
    text-indent: 2em;
}
.inside{
    background-color: #00ddff;
}
.outside{
    background-color: #fff;
}
.front-cover .outside{
    background-image: url(https://bpic.588ku.com/illus_water_img/19/04/16/90a94ae32ff07ad1aa862d081bb19e85.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(3px);
}
.flip{
    transform: rotateY(180deg);
}
.back-cover .outside{
    transform: rotateZ(-3px);
}
.back-cover .inside{
    background-color: #f5a1a1;
}

.shadow,
.card{
    background-color: rgba(0,0,0,0.5);
    width: 196px;
    height: 132px;
    position: absolute;
    left: 60px;
    top: 60px;
    transform-origin: 0 100%;
}
.shadow{
    background-color: rgba(0,0,0,0.5);
}
.card{
    background-image: url(https://ts1.cn.mm.bing.net/th/id/R-C.29b97795c05783d0e602505a0b511cc0?rik=s4LvpDxxW%2bYxdQ&riu=http%3a%2f%2fimg95.699pic.com%2felement%2f40040%2f2074.png_860.png&ehk=LXPYhWU1UDo1jQLFe0m%2bWujxjtaikfqMhwwlsKtw0MM%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
}