*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;/*将容器申明成IE模型*/
}
html{
    height: 100%;
}
body{
    height: 100%;
    font: 100%/1.25 Helvetica,arial,仿宋;
    perspective: 1000px;
    background-color: pink;
    background-image: linear-gradient(to bottom,rgb(247, 242, 154),#f79090);
}
.p3d{
    transform-style: preserve-3d;
}
.book{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    color:#fff;
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg);
    user-select: none; 
}
.front-cover{
    cursor: move;
    transform-origin: 0 50%;
    transform: rotateY(120deg);
}
.page{
    width: 300px;
    height: 300px;
    padding: 1em;
    position: absolute;
    left: 0;
    right: 0;
    text-indent: 2em;
}
.inside{
    background-color: #f79090;
}
.outside{
    background-color: #fff;
}
.front-cover .outside{
    background-image: url(https://bpic.588ku.com/illus_water_img/19/04/16/90a94ae32ff07ad1aa862d081bb19e85.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}