.no-label > .ant-form-item-label > label::after {
  content: '';
}
.encapsulation {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex: 0 1 auto;
}
.ant-input-number {
  width: 100%;
}
.ant-select-selection-overflow {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
