body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0f0f0;
}
a{
    color: #fff;
    text-decoration: none;
}


header {
    background-image: url('https://img0.baidu.com/it/u=1097438017,2646361005&fm=253&fmt=auto&app=138&f=JPEG?w=1198&h=500');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
}

.search-input {
    margin-top: 20px;
    padding: 10px;
    border: none ;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
}

.login{
    padding: 5px;
    border-radius: 5px;
    background-color: #4caf50;
    position: absolute;
    right: 20px;
    top: 12px;   
}

nav {
    margin-top: 20px;
    height: 50px;
    background-color: #4caf50;
    overflow: hidden;      
}
ul{
    margin-top: 9px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    list-style: none;
}

.carousel-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.carousel-item {
    width: 48%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.carousel-item img {
    size:100px 100px;
    width: 100%;
    height: auto;
}